In [0]:
import pandas as pd

In [0]:
pop = pd.read_csv('/content/population_by_county.csv')

In [76]:
pop.head()

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054

In [77]:
pop.columns

Index(['County', 'State', '2010Census', '2017PopEstimate'], dtype='object')

In [78]:
pop['State'].nunique()

51

In [79]:
pop['State'].unique()

array(['South Carolina', 'Louisiana', 'Virginia', 'Idaho', 'Iowa',
       'Kentucky', 'Missouri', 'Oklahoma', 'Colorado', 'Illinois',
       'Indiana', 'Mississippi', 'Nebraska', 'North Dakota', 'Ohio',
       'Pennsylvania', 'Washington', 'Wisconsin', 'Vermont', 'Minnesota',
       'Florida', 'North Carolina', 'California', 'New York', 'Wyoming',
       'Michigan', 'Alaska', 'Maryland', 'Kansas', 'Tennessee', 'Texas',
       'Maine', 'Arizona', 'Georgia', 'Arkansas', 'New Jersey',
       'South Dakota', 'Alabama', 'Oregon', 'West Virginia',
       'Massachusetts', 'Utah', 'Montana', 'New Hampshire', 'New Mexico',
       'Rhode Island', 'Nevada', 'District of Columbia', 'Connecticut',
       'Hawaii', 'Delaware'], dtype=object)

In [80]:
pop['County'].value_counts().head()

Washington County    30
Jefferson County     25
Franklin County      24
Lincoln County       23
Jackson County       23
Name: County, dtype: int64

In [81]:
pop.sort_values('2010Census', ascending=False).head()

                  County       State  2010Census  2017PopEstimate
1713  Los Angeles County  California     9818605         10163507
628          Cook County    Illinois     5194675          5211263
1209       Harris County       Texas     4092459          4652980
1784     Maricopa County     Arizona     3817117          4307033
2501    San Diego County  California     3095313          3337685

In [82]:
pop.groupby('State').sum().sort_values('2010Census', ascending=False).head()

            2010Census  2017PopEstimate
State
California    37253956         39536653
Texas         25145561         28304596
New York      19378102         19849399
Florida       18801310         20984400
Illinois      12830632         12802023

In [84]:
len(pop[pop['2010Census'] > 1000000])

39

In [0]:
def check_county(name):
    return "County" not in name

In [86]:
sum(pop['County'].apply(check_county))

135

In [88]:
pop['PercentChange'] = 100 * (pop['2017PopEstimate']-pop['2010Census']) / pop['2010Census']
pop.head()

             County           State  2010Census  2017PopEstimate  PercentChange
0  Abbeville County  South Carolina       25417            24722      -2.734390
1     Acadia Parish       Louisiana       61773            62590       1.322584
2   Accomack County        Virginia       33164            32545      -1.866482
3        Ada County           Idaho      392365           456849      16.434697
4      Adair County            Iowa        7682             7054      -8.174954

In [91]:
states = pop.groupby('State').sum()
states['PercentChange'] = 100 * (states['2017PopEstimate'] - states['2010Census']) / states['2010Census']
states.sort_values('PercentChange', ascending=False).head()

                      2010Census  2017PopEstimate  PercentChange
State
District of Columbia      601723           693972      15.330808
Texas                   25145561         28304596      12.562993
North Dakota              672591           755393      12.310899
Utah                     2763885          3101833      12.227282
Florida                 18801310         20984400      11.611372